/* // styles/daisyui.css */
body {
  background-color: linear-gradient(to bottom, #000059, #800080);
}
/* Import daisyUI styles */
#heading {
  /* border: 2px solid green; */
  position: relative;
  top: 1vh;
  text-align: center;
  height: 15vh;
  padding-top: 3vh;
  font-size: 40px;
  border-radius: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 5px 3px 4px rgba(1, 1, 72, 1000);
}

/*  */
#nameInput {
  position: relative;
  top: 10vh;
  width: 98vw;
  text-align: center;
  left: 1vw;
  border-radius: 10px;
  font-size: 25px;
  height: 15vh;
  box-shadow: 5px 3px 10px rgba(1, 1, 72, 1000);
}

#roomInput {
  position: relative;
  top: 13vh;
  width: 98vw;
  text-align: center;
  left: 1vw;
  border-radius: 10px;
  font-size: 25px;
  height: 15vh;
  box-shadow: 5px 3px 10px rgba(1, 1, 72, 1000);
}
#joinRoomButton {
  position: relative;
  top: 15vh;
  left: 1vw;
  font-size: 20px;
  width: 98vw;
  z-index: 100;
  box-shadow: 5px 3px 4px rgba(1, 1, 72, 1000);
}

/* Add your custom styles here */
